/* Selectores de etiquetas */


.titulo_h3{
    color: blue;
}



header {
  /* Todos las etiquetas dentro de header */
  background-color: #444;
}

h1 {
  /* Todas las etiquetas h1 */
  color: #eee;
}

h2 {
    /* Todas las etiquetas h2 */
    font-family: sans-serif;
}

section, aside{
    /* Todas las etiquetas section & aside */
    border: 1px solid grey;
}


a {
    color: crimson;
}

.enlace_importante{
    /* Todos los elementos o etiquetas
    que tengan la clase "enlace_importante" */
color: teal;

}

.titulo_h3{
    color: red
}

.boton_navegacion{
    text-decoration: none;
    font-family: cursive;
}



button.boton_navegacion{
    /* Todas las etiquetas buttom
    que tengan la clase "boton_navegacion" */
    color: royalblue;
}

.boton_navegacion.activo{
    box-shadow: #bbb 0px 0px 20px;
}

#miFooter{
    background: #ccc;
}


article p{
/* Todos los párrafo que estén como hijos o
nietos o bisnietos, etc de un "article" */
color: #444;
text-indent: 10px;
}


section > p{
    /* Todos los parrafos que sean hijos directos,
    en primer nivel de un section */
    font-size: 13px;
    color: #bbb;
}

.publicidad_imagen + figcaption{
    /* El figcaption proximo directo que sean 
    hermanos directos después de un elemento con clase
    .publicidad_imagen */
    font-style: italic;
    font-size: 12px;
}


#miFooter a ~ button{
    /* Todos los button que sean hermanos
    siguientes de a y estos, hijos de
    id #miFooter */

    border-radius: 6px;
}