* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #222;
  color: white;
}

.contenedor {
  border: 1px solid yellowgreen;
  display: flex;
  height: 300px;
  /* La propiedad flex-direction: row, es por
    defecto cuando el padre es de tipo flex; */
  /* ¿Qué significa?
    Depende: A primera instancia es row, q aplia a todos
    en una misma fila .
    Si se eligiera column, sería a columna*/
  flex-direction: row;

  /* flex-wrap: nowrap; Es por decto, significa
    que los hijos no colapsan incluso si necesitaran
    más espacio del q se tiene disponible */
  /* Con wrap puedes hacer q colapsen, es decir
    se apilan */
  flex-wrap: wrap;

  /* El flex-flow: es para acaaparar los 2 anteriores; */

  /* ¿Cuales son los ejes principales y secundarios?
        Depende: 
        - Cuando flex-direction: row; EJE PRINCIPAL X,
        en consecuencia el secundario es Y
        - Cuando flex-direction: column; el EJE PRINCIPAL
        es Y, y secundario X;
        */

  /* Alineacion */
  /* justify-content: ; ¿Que hace? alinea los elementos
en el eje principal */
/* align-items: ; ¿Qué hace?  alinea elementos en el 
eje secundario */
justify-content: space-between;
align-items: center;
/* El align self es para q el se alinee al eje
secundario */
}

.contenedor > div {
  border: 1px solid;
}

.hijo-1 {
  width: 250px;
  height: 100px;
  /* flex-grow: ; */
  flex: 2;
}
.hijo-2 {
  /* width: 100px; */
  height: 100px;
  /* flex-grow: ; */
  flex: 1;
}
.hijo-3 {
  /* width: 100px; */
  height: 100px;
  /* flex-grow: ; */
  flex: 1;
}
.hijo-4 {
  /* width: 100px; */
  height: 100px;
  /* flex-grow: ; */
  flex: 1;
}
