.header__title {
    text-align: center;
    /* Es el color de texto, no de fondo */
    color: #222222;
}


body{
    background-color: lightcoral;
}


.subtitulo{
    color: rgb(220, 50, 0);
}


.cuadrado{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 255, 255, 0.4);
}

.cuadrado:nth-child(2){
    background-color: hsl(180, 100%, 40%);
}

.cuadrado:nth-child(3){
    background-color: hsl(180, 100%, 30%);
}

.cuadrado:nth-child(4){
    background-color: hsl(180, 100%, 20%);
}